.friend-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .content {
        display: flex;
        padding: 10px;
        cursor: pointer;
        align-items: center;

        .avatar {
            width: 60px;
            height: 60px;
            margin-right: 10px;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            width: 60px;
            height: 60px;
            margin-right: 10px;

            li {
                outline: 1px solid #fff;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            /* 1个 */
            li:only-child {
                height: 100%;
            }

            /* 2个 */
            li:first-child:nth-last-child(2),
            li:first-child:nth-last-child(2)+li {
                width: 50%;
                height: 50%;
            }

            li:first-child:nth-last-child(2)+li {
                margin-left: auto;
            }

            /* 3个 */
            li:first-child:nth-last-child(3),
            li:first-child:nth-last-child(3)~li {
                width: 50%;
                height: 50%;
                float: left;
            }

            li:first-child:nth-last-child(3) {
                margin-left: 25%;
            }

            /* 4个 */
            li:first-child:nth-last-child(4),
            li:first-child:nth-last-child(4)~li {
                width: 50%;
                height: 50%;
                float: left;
            }

            /* 5个 */
            li:first-child:nth-last-child(5) {
                width: 30px;
                height: 30px;
                float: left;
            }

            li:first-child:nth-last-child(5)~li {
                width: 20px;
                height: 20px;
                float: left;
            }


            /* 6个 */
            li:first-child:nth-last-child(6) {
                width: 20px;
                height: 20px;
                float: left;
            }

            li:first-child:nth-last-child(6)~li {
                width: 20px;
                height: 20px;
                float: left;
            }

            /* 7个 */
            li:first-child:nth-last-child(7) {
                width: 20px;
                height: 20px;
                margin: auto;
            }

            li:first-child:nth-last-child(7)~li {
                width: 20px;
                height: 20px;
                float: left;
            }

            /* 8个 */
            li:first-child:nth-last-child(8) {
                width: 20px;
                height: 20px;
                margin-left: 40px;
                float: left;
            }

            li:first-child:nth-last-child(8)~li {
                width: 20px;
                height: 20px;
                float: left;
            }

            /* 9个 */
            li:first-child:nth-last-child(9),
            li:first-child:nth-last-child(9)~li {
                width: 20px;
                height: 20px;
                float: left;
            }
        }
    }

    .active {
        background-color: rgb(198, 198, 198);
    }
}