.msg-other {
    position: relative;
    margin-bottom: 10px;
    text-align: left;
    box-sizing: border-box;
    .icon-avatar {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
    }
    span {
        background-color: #fff;
        margin-left: 50px;
        position: relative;
        &::before{
            content: '';
            display: block;
            border: 5px solid transparent;
            border-right-color: #fff;
            position: absolute;
            left: -10px;
            top: 12px;
        }
    }
}