.chat-container {
    width: 80%;
    height: 90vh;
    margin: auto;
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    background: #f2f2f2;
    border: 1px solid rgb(202, 202, 202);

    .friend-list {
        width: 20%;
        height: 100%;
        border-right: 1px solid rgb(202, 202, 202);
        box-sizing: border-box;
        overflow: auto;
    }

    .msg-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;

        .msg-list {
            flex: 1;
            padding: 10px;
            box-sizing: border-box;
            overflow-y: auto;

            span {
                padding: 5px 5px;
                white-space: pre-line;
                max-width: 500px;
                word-break: break-all;
                display: inline-block;
                border-radius: 5px;
                line-height: 24px;
            }
        }

        .send-msg {
            height: 200px;
            width: 100%;
            background: #fff;
        }
    }
}